#windFiestraPrincipal_verde{
    background-color: green;
}
#windFiestraPrincipal_azul{
    background-color: blue;
}
#windFiestraPrincipal_rojo{
    background-color: red;
}
button{
    background-image: linear-gradient(pink);
    border-bottom-color: blue;
}